link(rel='stylesheet', href='/stylesheets/top-nav.css')

div(class="top-nav")
  div(class="top-nav-navigation")
    div Headcount
    div(class="navigation-links")
      if navbar && navbar.hasLogin
        a(href="/login") Login
      if navbar && navbar.hasRegister
        a(href="/register") Register