.form-box{
    min-width: 450px;
}

.registration-form{
    margin-top:40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-label{
    width: 92%;
    margin-bottom: 0.4rem;
}

.form-input{
    width: 90%;
    height:18px;
    margin-bottom: 1.5rem;
    padding: 5px;
    border: 1px solid silver;
    border-radius: 5px;
}

.form-submit{
    margin-top: 20px;
    width: 250px;
    height: 35px;
    border-radius: 8px;
    border: 0.5px solid darkgray;
    background-color: white;
    cursor: pointer;
}